* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.main-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

.main-layout-inner {
    display: grid;
    grid-template-rows: 100px 300px;
    gap: 15px;
}

.weather {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.locations-list {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 400px;
    background-color: pink;
    overflow: scroll;
    overflow-x: hidden;
}

.main-layout #map {
    grid-column: 2;
    grid-row: 1 / -1;
}





















.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.center {
    align-items: center;
}